# Environment / secrets
.env
.env.*
!.env.example



# Dependencies
/vendor/
node_modules/

# Vercel
.vercel/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Local PHP / Composer files
composer.phar